[package]
name = "spl-single-pool-cli"
version = "1.0.0"
description = "Solana Program Library Single-Validator Stake Pool Command-line Utility"
authors = ["Anza Maintainers <maintainers@anza.xyz>"]
repository = "https://github.com/solana-program/single-pool"
license = "Apache-2.0"
edition = "2021"

[dependencies]
tokio = "1.43"
clap = { version = "3.2.23", features = ["derive"] }
console = "0.15.10"
borsh = "1.5.5"
bincode = "1.3.1"
serde = "1.0.218"
serde_derive = "1.0.103"
serde_json = "1.0.140"
serde_with = "3.12.0"
solana-account-decoder = "2.2.0"
solana-clap-v3-utils = "2.2.0"
solana-cli-config = "2.2.0"
solana-cli-output = "2.2.0"
solana-client = "2.2.0"
solana-logger = "2.2.0"
solana-remote-wallet = "2.2.0"
solana-sdk = "2.2.1"
solana-transaction-status = "2.2.0"
solana-vote-program = "2.2.0"
spl-token = { version = "7.0", features = ["no-entrypoint"] }
spl-token-client = { version = "0.14.0" }
spl-single-pool = { version = "1.0.0", path = "../../program", features = [
  "no-entrypoint",
] }

[dev-dependencies]
solana-test-validator = "2.2.0"
serial_test = "3.2.0"
test-case = "3.3"
tempfile = "3.17.1"

[[bin]]
name = "spl-single-pool"
path = "src/main.rs"
