[package]
name = "spl-single-pool"
version = "2.0.0"
description = "Solana Program Library Single-Validator Stake Pool"
authors = ["Anza Maintainers <maintainers@anza.xyz>"]
repository = "https://github.com/solana-program/single-pool"
license = "Apache-2.0"
edition = "2021"

[features]
no-entrypoint = []
test-sbf = []

[dependencies]
arrayref = "0.3.9"
borsh = "1.5.7"
num-derive = "0.4"
num-traits = "0.2"
num_enum = "0.7.3"
solana-program = "2.2.1"
solana-security-txt = "1.1.1"
spl-token = { version = "8.0", features = ["no-entrypoint"] }
thiserror = "2.0"

[dev-dependencies]
solana-program-test = "2.2.0"
solana-sdk = "2.2.1"
solana-vote-program = "2.2.0"
spl-associated-token-account = { version = "6.0.0", features = ["no-entrypoint"] }
spl-associated-token-account-client = { version = "2.0.0" }
test-case = "3.3"
bincode = "2.0.1"
rand = "0.9.0"
approx = "0.5.1"

[lib]
crate-type = ["cdylib", "lib"]

[lints]
workspace = true
